.search{
  height:72.5px;
  /*background-color: rgb(66, 160, 255);*/
  position: fixed;
  top:0;
  width: 100%;

}
.search-header{
  color:#fff;
  /*padding-left: 5%;
  padding-top: 2%;*/

}
.search-header .search-box a{
  color:#fff;
  font-size: 16px;
  text-decoration: none;
  padding-right:5px;
  margin-right: 5px;
  border-right:1px solid #fff;

}
.search-box{
  padding:6.5% 5%;
  background-color: rgb(66, 160, 255);
}
.search-header .search-input{
  width:62%;
  height: 30px;
  outline: 0px;
  border:0px;
  border-bottom:1px solid rgb(66, 160, 255);
  font-size: 20px;
  padding-left:20px;
  float: left;
}
.search-box1{
  position:relative;
  padding:4% 5%;
  height: 30px;
}
.search-box1 span{
  position: absolute;
  left:5%;
  color:rgb(66, 160, 255)
}

.box1-search{
  width: 20%;
  float: left;
  background-color: rgb(66, 160, 255);
  text-align: center;
  padding:1% 0%;
  border-radius: 5px;
  margin-left:10%;

}
.search-main{
  /*width: 100%;*/
  padding:0 5%;
}
.search-main .search-list{
  display:block;
  text-decoration: none;
  background-color: rgb(66, 160, 255);
  /*height: 80px;*/
  line-height:80px;
  padding-left:3%;
  margin-bottom:3%;
  color:#fff;
  font-size: 20px;
  border-radius:10px;
}
